{% extends 'base.html.twig' %}

{% block title %}PixelPlate - Accueil{% endblock %}

{% block body %}

        <div class="index-overlay">
            <h1>Bienvenue chez PixelPlate</h1>
            <p>Une expérience culinaire immersive entre pixels et papilles.</p>
        </div>
{% endblock %}
