{% extends 'base.html.twig' %}

{% block title %}Infos{% endblock %}

{% block body %}
    <section class="infos-page">
        <h1>Informations Pratiques</h1>
        <p>Adresse, horaires, contact... tout ce qu’il faut savoir pour nous retrouver.</p>
        {# Tu pourras ajouter Google Maps, numéro de téléphone, horaires, etc. #}
    </section>
{% endblock %}
